@import url("/home/andrew/.cache/wal/colors-waybar.css");

* {
  border: none;
  font-family: "MesloLGS Nerd Font";
  font-size: 14px;
  min-height: 20px;
  background: transparent
}

.modules-left {
  padding-top: 6px;
  padding-left: 8px;
}

#custom-launcher {
  padding-left: 8px;
  padding-right: 5px;
  background-color: #333333;
  color: #1793d1;
  border-radius: 10px;
}

#workspaces {
  /* button content isn't centered, so offset and make centered */
  padding-right: 3px;
  border-radius: 10px;
  background: transparent;
  transition: all 0.15s;
}

#workspaces button {
  background: transparent;
  color: @cursor
}

#workspaces button.active {
  color: @color9;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  color: @color9;
}

.modules-center {
  padding-top: 6px;
}

window#waybar {
  color: @color15;
}

.modules-right {
  padding-top: 6px;
  padding-right: 8px;
}

#battery, #battery.bat1, #backlight, #wireplumber, #network, #bluetooth, #clock {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: @background;
  background-color: @foreground;
}


/* battery styles */

#battery, #battery.bat1 {
  color: @background;
  background: @color8;
}

#battery.default, #battery.bat1.default {
  background: @color2;
}

#battery.warning, #battery.bat1.warning {
  background: @color3;
}

#battery.critical, #battery.bat1.critical {
  background: @color1;
}


/* backlight styles */

#backlight.bright {
  background: @color1;
}

#backlight.normal {
  background: @color3;
}

#backlight.dim {
  background: @color2;
}

/* sound styles */

#wireplumber.loud {
  background: @color1;
}

#wireplumber.normal {
  background: @color3
}

#wireplumber.quiet {
  background: @color2
}

#wireplumber.muted {
  background: @color5
}

tooltip {
  background: @background;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}


/* network styles */

#network.wifi, #network.ethernet {
  background: @color2;
}

#network.disconnected {
  background: @color3;
}

/* doesn't work atm, see https://github.com/Alexays/Waybar/issues/2259 */
#network.disabled {
  background: @color1;
}


/* bluetooth styles */

#bluetooth.connected {
  background: @color4;
}

#bluetooth.on {
  background: @color6;
}

#bluetooth.off {
  background: @color1;
}


/* clock styles */

#clock {
}

