@import url("/home/andrew/.cache/wal/colors-waybar.css");

* {
  border: none;
  font-family: "MesloLGS Nerd Font";
  font-size: 14px;
  min-height: 20px;
  background: transparent
}

.modules-left {
  padding-top: 6px;
  padding-left: 12px;
}

#workspaces {
  /* button content isn't centered, so offset and make centered */
  padding-right: 3px;
  border-radius: 10px;
  background: transparent;
  transition: all 0.15s;
}

#workspaces button {
  background: transparent;
  color: @cursor
}

#workspaces button.active {
  color: @color9;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  color: @color9;
}

.modules-center {
  padding-top: 6px;
}

window#waybar {
  color: @color15;
}

.modules-right {
  padding-top: 6px;
  padding-right: 12px;
}

#wireplumber, #network, #bluetooth, #clock {
  margin-left: 10px;
}

#wireplumber {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background: @color2;
}

#network {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background: @color3;
}

#bluetooth {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background: @color4;
}

#clock {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background: @color5;
}

