@import url("/home/andrew/.cache/wal/colors-waybar.css");

* {
  border: none;
  font-family: "MesloLGS Nerd Font";
  font-size: 14px;
  min-height: 20px;
  background: transparent
}

.modules-left {
  padding-top: 6px;
  padding-left: 8px;
}

#custom-launcher {
  padding-left: 8px;
  padding-right: 5px;
  background-color: #333333;
  color: #1793d1;
  border-radius: 10px;
}

#workspaces {
  /* button content isn't centered, so offset and make centered */
  padding-right: 3px;
  border-radius: 10px;
  background: transparent;
  transition: all 0.15s;
}

#workspaces button {
  background: transparent;
  color: @cursor
}

#workspaces button.active {
  color: @color9;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  color: @color9;
}

.modules-center {
  padding-top: 6px;
}

window#waybar {
  color: @color15;
}

.modules-right {
  padding-top: 6px;
  padding-right: 8px;
}

#battery, #battery.bat1, #backlight, #wireplumber, #network, #bluetooth, #clock {
  margin-left: 10px;
}

#battery, #battery.bat1 {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: @color8;
}

#battery.default, #battery.bat1.default {
  color: @background;
  background-color: @color2;
}

#battery.warning, #battery.bat1.warning {
  color: @background;
  background-color: @color3;
}

#battery.critical, #battery.bat1.critical {
  color: @background;
  background-color: @color1;
}

#backlight {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background-color: @color4;
}

#wireplumber {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background: @color4;
}

#network {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background: @color4;
}

#bluetooth {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background: @color4;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @background;
  background: @color7;
}

